{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <h1 class="title">Settings</h1>
    {% if messages %}
        {% for message in messages %}
            <article class="message is-{{ message.tags }}">
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
        {% endfor %}
    {% endif %}
    <div class="columns is-multiline">
        <div class="column is-12">
            <form method="post">
                {% csrf_token %}

                <div class="field">
                    <label class="label">First Name</label>
                    <div class="control">
                        <input type="text" class="input" name="first_name" value="{{ request.user.first_name }}" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="control">
                        <input type="text" class="input" name="last_name" value="{{ request.user.last_name }}" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email </label>
                    <div class="control">
                        <input type="text" class="input" name="username" value="{{ request.user.username }}" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Plan </label>

                    <div class="control">
                        <div class="select">
                            <select name="plan">
                                <option value="basic" {% if request.user.userprofile.plan == 'basic' %} selected="selected" {% endif %}>Basic</option>
                                <option value="pro" {% if request.user.userprofile.plan == 'pro' %} selected="selected" {% endif %}>Pro</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-success">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
