{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h1 class="title">Dashboard</h1>
    <div class="columns">
        {% for itinerary in itineraries %}
        <div class="column is-3">
            <div class="card card-link">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ itinerary.itineraryname }}</p>
                        </div>
                    </div>
                    <div class="content">
                       Adults:  {{ itinerary.numberadults }}
                       Children:  {{ itinerary.numberchildren }}
                    </div>

                </div>
                <footer class="card-footer">
                    <a href="{{ bookmark.url }}" class="card-footer-item" target="_blank">Visit</a>
                    <a href="#" class="card-footer-item" target="_blank">Edit</a>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
